header.header.js-hidden-on-scroll
  .container-fluid
    .header__content
      .header__socials
        p Share Us:
        ul.header__socials-list
          each val in ["vk", "fb", "twitter"]
            li
              a.header__social(href="")
                img(src="./images/svg/" + val + "-header.svg?inline")
      .js-dropdown.header-langs
        button.header-langs__btn.js-dropdown__toggle ENG
        ul.dropdown__menu.header-langs__list
          each val in ["УКР", "中文"]
            li: a.header-langs__link(href="")= val