.btn {
  display: inline-block;
  font-size: 24px;
  line-height: $button-line-height;
  text-decoration: none;
  padding: $button-padding-y 35px;
  border: $button-border-width solid transparent;
  border-radius: $button-line-height + $button-padding-y + $button-border-width;
  background: none;
  transition-property: color, background-color, border-color;
  transition-duration: $trans-dur;

  &-simple {
    border-color: $simple-button-color;
    color: $simple-button-color;

    &:hover {
      background: $simple-button-color;
      color: $black;
    }
  }

  &-accent {
    border-color: $primary;
    background-color: $primary;
    color: #fff;

    &:hover {
      border-color: #fff;
      background-color: #fff;
      color: $black;
    }
  }
}
