@use 'sass:math';

.footer {
  font-size: 24px;
  position: relative;
  text-align: center;
  padding: 50px 0;
  color: $on-black-content;
  background: $black;

  &__heading {
    font-size: 24px;
    font-weight: 300;
  }

  &__socials-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 60px;
    margin: 50px 0;

    @include media(to_laptop) {
      gap: 15px 30px;
    }
  }

  &__social {
    width: var(--footer-social-size);
    height: var(--footer-social-size);
    border-radius: var(--footer-social-size);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: $on-black-content;
    transition-property: color, background-color;
    transition-duration: $trans-dur;

    &:hover {
      color: $on-black-content;
      background: #fff;
    }

    @include media(to_laptop) {
      svg {
        transform: scale(math.div($footer-social-size-xs, $footer-social-size));
      }
    }
  }

  &__copyrights-link {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition-property: color, text-decoration-color;
    transition-duration: $trans-dur;

    &:hover {
      color: #fff;
      text-decoration-color: currentColor;
    }
  }
}