@use 'sass:math';

.header {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: var(--header-padding-y) var(--header-padding-x);
  color: #fff;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 35px;
  }

  &__socials-list {
    list-style: none;
    display: flex;
    gap: 15px;
  }

  &__social {
    width: var(--header-social-size);
    height: var(--header-social-size);
    border-radius: var(--header-social-size);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition-property: background-color, color;
    transition-duration: $trans-dur;

    &:hover {
      background: #fff;
      color: $black;
    }

    @include media(to_laptop) {
      svg {
        transform: scale(math.div($header-social-size-xs, $header-social-size));
      }
    }
  }
}

.header-langs {
  &__list {
    list-style: none;
  }

  &__btn {
    position: relative;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    padding: 0 45px;
    border: none;
    background: none;

    &::after {
      content: '';
      position: absolute;
      right: 18px;
      top: 50%;
      margin-top: -3px;
      border-top: 6px solid #fff;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
    }
  }

  &__link {
    display: block;
    padding: 8px 45px;
    border-radius: 52px;
    margin-top: 8px;
    text-decoration: none;
    text-wrap: nowrap; // because of chinese
    color: inherit;
    transition-property: color, background-color;
    transition-duration: $trans-dur;

    &:hover {
      background: #fff;
      color: $black;
    }
  }
}
