// Bootstrap variables
$grid-columns: 15;
$grid-gutter-width: 20px;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1200px
);

// Various dimentions
$header-social-size: 68px;
$header-padding-y: 28px;
$button-border-width: 2px;
$button-padding-y: 7px;
$button-line-height: 32px;
$control-size: 125px;

// Colors
$primary: #da2829;
$black: #15181d;
$on-black-content: #5c5e63;
$simple-button-color: #fff;

// Transitions
$trans-dur: .5s;
$main-slider-opacity-trans-dur: 1s;
$main-slider-trans-dur: 4s;