mixin slide-content-main-description()
  section.slide-content-main-description
    .container
      .slide-content-main-description__content
        .slide-content-main-description__triangle
        block