doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Miss Dukascopy
    link(href="styles.scss" rel="stylesheet")
    script(src="index.js" defer="defer")
  body
    header.header
      .container-fluid
        .header__content
          .header__socials
            p Share Us:
            ul.header__socials-list
              each val in ["vk", "fb", "twitter"]
                li
                  a(href="")
                    img(src="./images/svg/" + val + "-header.svg?inline")
          .header-langs
            button.dropdown-toggle ENG
            ul.dropdown-menu.header-langs__list
              each val in ["УКР", "中文"]
                li: a(href="")= val
    main
      ul.main-slider
        include templates/mixins/slide
        +slide("miss")
          +Slot("presentation")
            h1 Miss Dukascopy
            p The place where girls reveal themselves
          +Slot("content")
            .container
              p The old Cinderella story? Boring! A new Cinderella story about you? Now, that's cool! The most fashionable and world-renowned brands sponsoring Miss Dukascopy have already prepared a host of gifts for you.
        +slide("blogger")
          +Slot("presentation")
            h1 Blogger
            p gdfgdfg
          +Slot("content")
            .container
              p fdgdfgk