doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Miss Dukascopy
    link(href="styles.scss" rel="stylesheet")
    script(src="index.js" defer="defer")
  body
    include templates/header
    main
      .main-slider#main-slider
        ul.main-slider__list#main-slider__list
          include templates/mixins/slide
          include templates/mixins/slide-presentation
          +slide("miss")
            +Slot("presentation")
              +slide-presentation("Miss Dukascopy", "The place where girls reveal themselves")
              ul.slide-presentation__links-list.js-hidden-on-scroll
                li
                  a.btn.btn-simple(href="") About
                li
                  a.btn.btn-simple(href="") See Gallery
                li
                  a.btn.btn-simple(href="") Prizes
                li
                  a.btn.btn-accent(href="") Registration
            +Slot("content")
              include templates/mixins/slide-content-main-description
              +slide-content-main-description()
                p The old Cinderella story? Boring! A new Cinderella story about you? Now, that's cool! The most fashionable and world-renowned brands sponsoring Miss Dukascopy have already prepared a host of gifts for you.
          +slide("blogger")
            +Slot("presentation")
              +slide-presentation("Miss Blogger", "The place where girls reveal themselves")
              ul.slide-presentation__links-list.js-hidden-on-scroll
                li
                  a.btn.btn-simple(href="") Discover more
                li
                  a.btn.btn-accent(href="") Join now!
            +Slot("content")
              +slide-content-main-description()
                p You feel the potential blogger? I adore to write articles or shoot video blogs? To show their talent and win the title of "Miss Blogger"!
                p Miss Blogger - a competition in which you can talk and write about what you want and at the same time to win cash prizes.
          +slide("model")
            +Slot("presentation")
              +slide-presentation("Be a Model", "Strike a Pose and Be a Model!")
              ul.slide-presentation__links-list.js-hidden-on-scroll
                li
                  a.btn.btn-simple(href="") About
                li
                  a.btn.btn-simple(href="") Participants
                li
                  a.btn.btn-accent(href="") Fill in the form
            +Slot("content")
              +slide-content-main-description()
                p Your face is on the magazine covers, your photos are on billboards, you are on the high fashion catwalks...
                p Is this a dream? No, this is your future!and at the same time to win cash prizes.
        .js-hidden-on-scroll.main-slider__control.main-slider__prev
          button.main-slider__control-btn.main-slider__prev-btn#slider-prev
            img(src="./images/svg/arrow-left-big.svg?inline")
        .js-hidden-on-scroll.main-slider__control.main-slider__next
          button.main-slider__control-btn.main-slider__next-btn#slider-next
            img(src="./images/svg/arrow-right-big.svg?inline")
        .js-hidden-on-scroll.main-slider__control.main-slider__scroll-down
          button.main-slider__control-btn.main-slider__scroll-down-btn#slider-scroll-down
            img(src="./images/svg/scroll-down.svg?inline")
    include templates/footer